<section class="cases">
  <div class="container">
    <ul class="list cases_list">
      <li class="cases_list_item">
        <a class="cases_list_item_link" href="">
          <h3 class="cases_list_item_header">NAK</h3>
          <img class="cases_list_item_img" src="./images/earleBlack.jpg" alt="" />
          <div class="learnMore">
            <p class="learnMore_text">&#8594;</p>
          </div>
        </a>
      </li>
      <li class="cases_list_item">
        <a class="cases_list_item_link" href="">
          <h3 class="cases_list_item_header">NAK</h3>
          <img class="cases_list_item_img" src="./images/earleBlack.jpg" alt="" />
          <div class="learnMore">
            <p class="learnMore_text">&#8594;</p>
          </div>
        </a>
      </li>
      <li class="cases_list_item">
        <a class="cases_list_item_link" href="">
          <h3 class="cases_list_item_header">NAK</h3>
          <img class="cases_list_item_img" src="./images/earleBlack.jpg" alt="" />
          <div class="learnMore">
            <p class="learnMore_text">&#8594;</p>
          </div>
        </a>
      </li>
      <li class="cases_list_item">
        <a class="cases_list_item_link" href="">
          <h3 class="cases_list_item_header">NAK</h3>
          <img class="cases_list_item_img" src="./images/earleBlack.jpg" alt="" />
          <div class="learnMore">
            <p class="learnMore_text">&#8594;</p>
          </div>
        </a>
      </li>
      <li class="cases_list_item">
        <a class="cases_list_item_link" href="">
          <h3 class="cases_list_item_header">NAK</h3>
          <img class="cases_list_item_img" src="./images/earleBlack.jpg" alt="" />
          <div class="learnMore">
            <p class="learnMore_text">&#8594;</p>
          </div>
        </a>
      </li>
      <li class="cases_list_item">
        <a class="cases_list_item_link" href="">
          <h3 class="cases_list_item_header">NAK</h3>
          <img class="cases_list_item_img" src="./images/earleBlack.jpg" alt="" />
          <div class="learnMore">
            <p class="learnMore_text">&#8594;</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
