.blogHead {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
}
.blogHead_data {
  font-size: 18px;
  line-height: 22px;

  margin-bottom: 15px;
}

.blogHead_header {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 45px;
}

.blogHead_divForText_heshtag {
  margin-bottom: 9px;
  & a {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #226fc7;
  }
}
.wrapper_forblogHead {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blogHead_divForText {
  max-width: 457px;
  display: flex;
  flex-direction: column;
}

.blogHead_headerTwo {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  margin-bottom: 13px;
}
.blogHead_text {
  font-size: 18px;
  line-height: 22px;
}
.blogHead_divForImg {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  .blogHead_img-№1 {
    max-width: 576px;
    margin-right: 39px;
  }
  .blogHead_img-№2 {
    max-width: 365px;
    margin-top: 52px;
  }
}
.blogHead .learnMore {
  position: absolute;
  top: 0;
  right: 0;
}
