.section_form {
  font-size: 24px;
  line-height: 29px;
  padding-top: 75px;
  // background-color: #181818;
}
.form {
}
.form_header {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 28px;
}
.form_checkboxs {
  display: flex;
  flex-direction: column;
  //   font-size: 24px;
  //   line-height: 29px;
  margin-bottom: 49px;
}
.form_checkboxs_span {
  margin-bottom: 28px;
}
.form_checkboxs_items {
  display: flex;
  label {
    margin-right: 27px;
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    background-color: inherit;
  }
  svg {
    // display: none;
    vertical-align: top;
    border: 2px solid #212121;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    stroke: transparent;
  }
  input:checked + svg {
    border-color: rgb(0, 0, 0, 0.5);
    background-color: #2196f3;
    fill: white;
  }
}
.form_personalData {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.form_personalData_span {
  margin-bottom: 50px;
}
.form_personalData_items {
  input {
    width: 427px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 5px 15px;
    background-color: inherit;
    &::placeholder {
      font-size: 14px;
      line-height: 17px;
      color: rgb(0, 0, 0, 0.8);
    }
  }
}

.form_personalData_items_inputName {
  margin-right: 25px;
}
.form_personalData_items_inputPhone {
}
.form_wish {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}
.form_wish_span {
  margin-bottom: 50px;
}
.form_wish_textarea {
  width: 880px;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 5px 15px;
  background-color: inherit;
  &::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: rgb(0, 0, 0, 0.8);
  }
  font: inherit;
  resize: none;
}

.darkWrapperForForm {
  .section_form {
    background-color: #181818;
  }
  svg {
    border: 2px solid #535353;
  }
  input {
    border-bottom: 1px solid rgb(255, 255, 255, 0.8);
    color: white;
    &::placeholder {
      color: rgb(255, 255, 255, 0.8);
    }
  }
  .form_wish_textarea {
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255, 0.8);
    &::placeholder {
      color: rgb(255, 255, 255, 0.8);
    }
  }
  .learnMore_text::before {
    background-color: rgb(255, 255, 255, 0.8);
  }
}

.button_form {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  &:hover {
    color: #3b63f5;
  }
}
