.overlay {
  position: relative;
  max-width: 1920px;
  min-height: 1080px;

  padding: 70px;
}
.overlay--main {
  .overlay_topLine_moon {
    display: block;
  }
}
.overlay--Black {
  color: black;
  & svg {
    fill: #fff;
    stroke: black;
  }

  .overlay_topLine_text {
    display: block;
  }
  .overlay_topLine_logo {
    margin-left: -320px;
  }
  .overlay_socials_item {
    background-color: black;
    &:hover {
      background-color: white;
      border: 0.5px solid rgb(0, 0, 0, 0.5);
    }
  }
}

.without_SocialAndText {
  .overlay_socials {
    display: none;
  }
  .overlay_text {
    display: none;
  }
}
.overlay--blackBackground {
  color: #fff;

  background-color: #181818;
  & svg {
    stroke: #fff;
  }

  .overlay_topLine_text {
    display: block;
    &::before {
      background-color: rgb(255, 255, 255, 0.5);
    }
  }
  .overlay_topLine_logo {
    margin-left: -320px;
  }

  .learnMore_text {
    &::before {
      background-color: rgb(255, 255, 255, 0.5);
    }
  }
}

.overlay_topLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   position: absolute;
  //   width: 100%;
  //   top: 70px;
  position: relative;
}
.overlay_topLine_moon {
  display: none;
  fill: #fff;
}
.overlay_topLine_text {
  font-size: 30px;
  line-height: 37px;
  padding-left: 140px;
  color: inherit;

  display: none;
  &::before {
    display: block;
    position: absolute;
    content: '';
    top: 23px;
    left: 0;
    width: 129px;
    height: 1px;
    // border: 1px solid #000000;
    background-color: rgb(0, 0, 0, 0.5);
  }
  &:hover {
    color: #3b63f5;
    &::before {
      background-color: #3b63f5;
    }
  }
}

.overlay_topLine_logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
.overlay_topLine_button {
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    svg {
      stroke: #3b63f5;
    }
  }
}
.overlay_topLine_buttonMenu {
  stroke: #fff;
}

.overlay_socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  left: 70px;
  bottom: 70px;

  z-index: 5;
}
.overlay_socials_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:hover {
    .overlay_socials_item_youtube {
      fill: red;
    }
    .overlay_socials_item_facebook {
      fill: #4267b2;
    }
    .overlay_socials_item_instagram {
      fill: #fb3958;
    }
  }
}

.overlay_text {
  position: absolute;
  bottom: 70px;
  right: 70px;
  writing-mode: vertical-rl;

  font-size: 24px;
  line-height: 29px;

  z-index: 5;
}
