.whoWe {
  padding-top: 95px;
}
.whoWe_divForTextOne {
  margin-bottom: 97px;
  width: 878px;
  // height: 160px;
}
.whoWe_headerOne {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}
.whoWe_textOne {
  font-size: 26px;
  line-height: 32px;
}
.whoWe_divForTextTwo {
  margin-bottom: 41px;
  width: 1329px;
}
.whoWe_headerTwo {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 20px;
}
.whoWe_textTwo {
  font-size: 36px;
  line-height: 44px;
}

