<section class="services">
  <div class="container">
    <h2 class="services_header">Наши услуги</h2>
    <ul class="list services_list">
      <li class="services_list_item services_item">
        <h3 class="services_item_title">Google data studio</h3>
        <p class="services_item_text">
          Мониторгинг полного цикла Digital продаж: от этапа взаимодействия ваших клиентов с
          рекламой до заключения сделки.
        </p>
        <img src="./img/graffic1.svg" alt="" class="services_item_img" />
      </li>
      <li class="services_list_item">
        <h3 class="services_item_title">Roistat</h3>
        <p class="services_item_text">
          Сегментируем целевую аудитроию по интересам и показателям взаимодействия с вашим
          продуктом/услугой.
        </p>
        <img src="./img/graffic2.svg" alt="" class="services_item_img" />
      </li>
      <li class="services_list_item">
        <h3 class="services_item_title">Facebook marketing</h3>
        <p class="services_item_text">
          Собюираем цифровой патерн вашей фактической целевой аудиторий. Увеличиваем охват на основе
          патерна.
        </p>
        <img src="./img/graffic3.svg" alt="" class="services_item_img" />
      </li>
      <li class="services_list_item">
        <h3 class="services_item_title">Google analytics</h3>
        <p class="services_item_text">
          Оцениваем по Macro-конверсии (Leads/Продажи), выстраивая путь клиента.
        </p>
        <img src="./img/graffic4.svg" alt="" class="services_item_img" />
      </li>
      <li class="services_list_item">
        <h3 class="services_item_title">Instagram Ads</h3>
        <p class="services_item_text">
          Сплит-тестированием выводим оптимальный контент, для взаимодействия с ЦА на каждом этапе
          цикла продаж.
        </p>
        <img src="./img/graffic5.svg" alt="" class="services_item_img" />
      </li>
      <li class="services_list_item">
        <h3 class="services_item_title">Zoho CRM</h3>
        <p class="services_item_text">
          Оцифровываем все взаимодействия с целевой аудиторией, выстраивая Digital-туннель продаж.
        </p>
        <img src="./img/graffic6.svg" alt="" class="services_item_img" />
      </li>
      <li class="services_list_item">
        <h3 class="services_item_title">Google Ads</h3>
        <p class="services_item_text">
          Привлекаем целевую аудиторию основываясь на его интересе к вашему продукту/услуге.
        </p>
        <img src="./img/graffic7.svg" alt="" class="services_item_img" />
      </li>
      <li class="services_list_item">
        <h3 class="services_item_title">Email marketing</h3>
        <p class="services_item_text">
          Выстраиваем эффективную цепочку касаний, в отличие от бесполезных рассылок.
        </p>
        <img src="./img/graffic8.svg" alt="" class="services_item_img" />
      </li>
      <li class="services_list_item">
        <h3 class="services_item_title">Yandex Direct</h3>
        <p class="services_item_text">
          Дополнительный огромный охват целевой аудитории по СНГ, на основе патерна клиентов
          собраного с вашего сайта.
        </p>
        <img src="./img/graffic9.svg" alt="" class="services_item_img" />
      </li>
    </ul>
  </div>
</section>
