.map {
  background-color: #181818;
}
.map_wrapper_content {
  display: flex;
  align-items: end;
}
.map_mapImg {
}
.wrapperForText {
}
.map_title {
  font-weight: 600;
  font-size: 72px;
  line-height: 88px;
  text-align: center;
}
.map_city {
}
