<section class="compains">
  <ul class="list compains_list">
    <li class="compains_list_item">
      <a href=""><img src="./images/workoutgym.svg" /></a>
    </li>
    <li class="compains_list_item">
      <a href=""><img src="./images/finnblock.svg" /></a>
    </li>
    <li class="compains_list_item">
      <a href=""><img src="./images/phaeton.svg" /></a>
    </li>
    <li class="compains_list_item">
      <a href=""><img src="./images/samruk.svg" /></a>
    </li>
    <li class="compains_list_item">
      <a href=""><img src="./images/euroelectric.svg" /></a>
    </li>
    <li class="compains_list_item">
      <a href=""><img src="./images/SKCU.svg" /></a>
    </li>
    <li class="compains_list_item">
      <a href=""><img src="./images/tree.svg" /></a>
    </li>
    <li class="compains_list_item">
      <a href=""><img src="./images/NAK.svg" /></a>
    </li>
    <li class="compains_list_item">
      <a href=""><img src="./images/fitnessBlitz.svg" /></a>
    </li>
    <li class="compains_list_item">
      <a href=""><img src="./images/armat.svg" /></a>
    </li>
    <li class="compains_list_item">
      <a href=""><img src="./images/bravoLombard.svg" /></a>
    </li>
  </ul>
</section>
