<section class="instagram center">
  <div class="container">
    <ul class="list instagram_list">
      <li class="instagram_list_item">
        <img src="./images/digital-mood.jpg" alt="" />
      </li>
      <li class="instagram_list_item">
        <img src="./images/book.jpg" alt="" />
      </li>
      <li class="instagram_list_item">
        <img src="./images/sportGirl.jpg" alt="" />
      </li>
    </ul>
    <div class="learnMore">
      <a class="learnMore_text" href="">Подписаться на Instagram</a>
    </div>
  </div>
</section>
