<section class="shortAboutUS" id="experience">
  <div class="container">
    <div class="shortAboutUS_divForTextOne">
      <h2 class="shortAboutUS_header">Если невозможно оценить, то невозможно приумножить</h2>
      <p class="shortAboutUS_text">
        Мы не приводим Целевую Аудиторию для Digital-проекта, мы показываем весь путь клиента - от
        начала взаимодействия с рекламой до покупки или заключения сделки. На основе этого
        вычисляется ценность потенциального клиента, привлеченного по каждому каналу. Что дает
        возможность оптимизируя бюджет, увеличить обороты конечных продаж.
      </p>
    </div>

    <ul class="list shortAboutUS_list">
      <li class="shortAboutUS_list_item">
        <span class="shortAboutUS_list_item_span">36</span>
        <p class="shortAboutUS_list_item_text">Компании с Romi свыше 27%</p>
      </li>
      <li class="shortAboutUS_list_item">
        <span class="shortAboutUS_list_item_span">7</span>
        <p class="shortAboutUS_list_item_text">Компании с Romi свыше 45%</p>
      </li>
      <li class="shortAboutUS_list_item">
        <span class="shortAboutUS_list_item_span">12</span>
        <p class="shortAboutUS_list_item_text">Digital сертификаций</p>
      </li>
      <li class="shortAboutUS_list_item">
        <span class="shortAboutUS_list_item_span">49</span>
        <p class="shortAboutUS_list_item_text">Максимальный показатель KPI</p>
      </li>
    </ul>
  </div>
</section>
