<div class="container" id="services">
  <section class="whatWeDo">
    <h2 class="whatWeDo_header"></h2>
    <ul class="list whatWeDo_list">
      <li class="whatWeDo_list_item">
        <div class="whatWeDo_list_item_wrapper">
          <svg width="29" height="29">
            <use href="./images/symbols.svg#google-data"></use>
          </svg>
          <h3 class="whatWeDo_list_item_header">Google data studio</h3>
        </div>
        <p class="whatWeDo_list_item_text">
          Мониторгинг полного цикла Digital продаж: от этапа взаимодействия ваших клиентов с
          рекламой до заключения сделки.
        </p>
      </li>
      <li class="whatWeDo_list_item">
        <div class="whatWeDo_list_item_wrapper">
          <svg width="29" height="29">
            <use href="./images/symbols.svg#google-analitics"></use>
          </svg>
          <h3 class="whatWeDo_list_item_header">Google analytics</h3>
        </div>
        <p class="whatWeDo_list_item_text">
          Оцениваем по Macro-конверсии (Leads/Продажи), выстраивая путь клиента.
        </p>
      </li>
      <li class="whatWeDo_list_item">
        <div class="whatWeDo_list_item_wrapper">
          <svg width="29" height="29">
            <use href="./images/symbols.svg#reclam"></use>
          </svg>
          <h3 class="whatWeDo_list_item_header">Google Ads</h3>
        </div>
        <p class="whatWeDo_list_item_text">
          Привлекаем целевую аудиторию основываясь на его интересе к вашему продукту/услуге.
        </p>
      </li>
      <li class="whatWeDo_list_item">
        <div class="whatWeDo_list_item_wrapper">
          <svg width="29" height="29">
            <use href="./images/symbols.svg#roistat"></use>
          </svg>
          <h3 class="whatWeDo_list_item_header">Roistat</h3>
        </div>
        <p class="whatWeDo_list_item_text">
          Привлекаем целевую аудиторию основываясь на его интересе к вашему продукту/услуге.
        </p>
      </li>
      <li class="whatWeDo_list_item">
        <div class="whatWeDo_list_item_wrapper">
          <svg width="29" height="29">
            <use href="./images/symbols.svg#zoho-crm"></use>
          </svg>
          <h3 class="whatWeDo_list_item_header">Zoho CRM</h3>
        </div>
        <p class="whatWeDo_list_item_text">
          Оцифровываем все взаимодействия с целевой аудиторией, выстраивая Digital-туннель продаж.
        </p>
      </li>
      <li class="whatWeDo_list_item">
        <div class="whatWeDo_list_item_wrapper">
          <svg width="29" height="29">
            <use href="./images/symbols.svg#email-marketing"></use>
          </svg>
          <h3 class="whatWeDo_list_item_header">Email marketing</h3>
        </div>
        <p class="whatWeDo_list_item_text">
          Выстраиваем эффективную цепочку касаний, в отличие от бесполезных рассылок.
        </p>
      </li>
      <li class="whatWeDo_list_item">
        <div class="whatWeDo_list_item_wrapper">
          <svg width="29" height="29">
            <use href="./images/symbols.svg#facebook-marketing"></use>
          </svg>
          <h3 class="whatWeDo_list_item_header">Facebook marketing</h3>
        </div>
        <p class="whatWeDo_list_item_text">
          Собюираем цифровой патерн вашей фактической целевой аудиторий. Увеличиваем охват на основе
          патерна.
        </p>
      </li>
      <li class="whatWeDo_list_item">
        <div class="whatWeDo_list_item_wrapper">
          <svg width="29" height="29">
            <use href="./images/symbols.svg#instagram-ads"></use>
          </svg>
          <h3 class="whatWeDo_list_item_header">Instagram Ads</h3>
        </div>
        <p class="whatWeDo_list_item_text">
          Сплит-тестированием выводим оптимальный контент, для взаимодействия с ЦА на каждом этапе
          цикла продаж.
        </p>
      </li>
      <li class="whatWeDo_list_item">
        <div class="whatWeDo_list_item_wrapper">
          <svg width="29" height="29">
            <use href="./images/symbols.svg#yandex-direct"></use>
          </svg>
          <h3 class="whatWeDo_list_item_header">Yandex Direct</h3>
        </div>
        <p class="whatWeDo_list_item_text">
          Дополнительный огромный охват целевой аудитории по СНГ, на основе патерна клиентов
          собраного с вашего сайта.
        </p>
      </li>
    </ul>
    <div class="learnMore">
      <a class="learnMore_text" href="./services.html">Узнать больше</a>
    </div>
  </section>
</div>
