<section class="blogPage">
  <div class="container">
    <h2 class="blogPage_header">Блог</h2>
    <div class="blogPage_ wrapperForImg">
      <img src="./images/oneMan.jpg" alt="" />
      <div class="blogPage_wrapperForHeshtag">
        <div class="article_wrapperForHeshtag">
          <a href="">#реклама</a> <a href="">#маркетинг</a>
        </div>
        <span class="article_Data">10.02.2020</span>
      </div>
    </div>
    <h1 class="blogPage_title">Реклама в YouTube или YouTube marketing</h1>
    <p class="blogPage_text">
      1/3 общего времени в Интернете тратится на просмотр видео, а у YouTube более миллиарда
      активных пользователей . Платформа настолько обширна, что к ней можно получить доступ на 76
      различных языках, что составляет 95% населения мира. 2-я по величине поисковая система в
      Интернете - YouTube может помочь улучшить ваше SEO и общее присутствие бренда...
      <br />
      <br />
      2-я по величине поисковая система в Интернете - YouTube может помочь улучшить ваше SEO и общее
      присутствие бренда. Фактически, почти половина всех маркетологов (48%) планируют добавить
      YouTube в свою маркетинговую стратегию в течение следующих 12 месяцев ... согласно отчету
      State of Inbound .
    </p>
    <h3 class="blogPage_subTitle">
      Так стоит ли брендам, погружаться в Youtube Маркетинг или лучше использовать старую добрую
      рекламу на Youtube?!
    </h3>
    <span class="blogPage_list_subTitle">Давайте для начала дадим подробные определения:</span>
    <ol class="blogPage_list">
      <li class="blogPage_list_item">
        <p class="blogPage_text">
          <span>Реклама на YouTube</span> - это Видеокампании созданные в Google Ads ориентированных
          на показ видеороликов на YouTube площадке и сайтах партнеров Google, что позволяет
          обращаться к целевой аудитории и побуждать их к полезным для вас действиям, когда они ищут
          или смотрят ролики на этой видеоплатформе.
        </p>
      </li>
      <li class="blogPage_list_item">
        <p class="blogPage_text">
          <span>Youtube Маркетинг</span> - комплекс мер направленных на продвижение вашего бренда,
          продукта или услуги посредством видеоконтента с использованием digital инструментов:
          контент маркетинга, поискового продвижения, рекламы на Youtube, UI/UX, Аналитики и CRM.
        </p>
      </li>
    </ol>
    <span class="blogPage_list_subTitle"
      >Сравним какие доп. сервисы охватывает запуск этих Digital активностей:</span
    >
    <ol class="blogPage_list">
      <li class="blogPage_list_item">
        <p class="blogPage_text">
          <span>Реклама на YouTube</span> - Google Ads , Video Контент, Youtube Analytics.
        </p>
      </li>
      <li class="blogPage_list_item">
        <p class="blogPage_text">
          <span>Youtube Маркетинг</span> - Google Marketing Platform, Google Search console, Google
          My Business, Google Ads, Youtube Channel, Google Optimize, BigQuerry, Google Analytics,
          Facebook, Instagram, CRM …
        </p>
      </li>
    </ol>
    <span class="blogPage_list_subTitle">Результаты и оплата</span>
    <ol class="blogPage_list">
      <li class="blogPage_list_item">
        <p class="blogPage_text">
          <span>Для рекламы на Youtube</span> - cуществуют несколько стратегий ставок в Google Ads.
          Но как правило бизнес владельцы ориентируются на оценку «оплата за показ», и подрядчик
          отчитывается по KPI = рекламный бюджет/ количество показов.
        </p>
      </li>
      <li class="blogPage_list_item">
        <p class="blogPage_text">
          <span>Для Youtube маркетинга</span> – нет ограничений, KPI может оцениваться в :
          Конверсиях, Лидах, Продажах, ROI, Повышения SEO позиций, Engagement Rate, увеличении Базы
          Потенциальных клиентов, увеличении узнаваемости бренда и многое другое … Поэтому
          предварительно согласовываются основные KPI на которые ориентируется заказчик и на
          основании этих KPI выстраивается стратегия Youtube Маркетинга c оценкой результативности.
          Оплата как правила состоит из рекламного бюджета и оплаты человеко-часов.
        </p>
      </li>
      <li class="blogPage_list_item">
        <p class="blogPage_text">
          <span>Profit</span> – Если вам нужно единичное взаимодействие с целевой аудиторией, то вам
          лучше использовать рекламу в Youtube - это проще и дешевле. (Но буквально за неделю Value
          вашего контента приблизится к "0") Если вы рассматриваете свой видеоконтент как
          инвестицию, и потратили на его создание много ресурсов и сил. Рекомендуем вам использовать
          Youtube Marketing
        </p>
      </li>
    </ol>
    <h3 class="blogPage_subTitle">
      Если у вас еще остались вопросы относительно Рекламы на Youtube и Youtube Маркетинга –
      свяжитесь с нами и мы предоставим бесплатную подробную консультацию?!
    </h3>
    <div class="learnMore">
      <a href="" class="learnMore_text">Узнать больше</a>
    </div>
    <!-- <p>Сравним какие доп. сервисы охватывает запуск этих Digital активностей:</p> -->
  </div>
</section>
