<div class="container">
  <section class="section_form">
    <form class="form">
      <b class="form_header">Оставить заявку</b>
      <div class="form_checkboxs">
        <span class="form_checkboxs_span">Выберите одну или несколько услуг</span>
        <div class="form_checkboxs_items">
          <label for="Email_Marketing">
            <input type="checkbox" name="Email_Marketing" id="Email_Marketing" />
            <svg width="25" height="25"></svg>
            Email Marketing
          </label>
          <label for="Facebook">
            <input type="checkbox" name="Facebook" id="Facebook" />
            <svg width="25" height="25"></svg>
            Facebook
          </label>
          <label for="Google_ads">
            <input type="checkbox" name="Google_ads" id="Google_ads" />
            <svg width="25" height="25"></svg>
            Google реклама
          </label>
          <label for="Instagram">
            <input type="checkbox" name="Instagram" id="Instagram" />
            <svg width="25" height="25"></svg>
            Instagram
          </label>
          <label for="SEO">
            <input type="checkbox" name="SEO" id="SEO" />
            <svg width="25" height="25"></svg>
            SEO
          </label>
          <label for="Yandex">
            <input type="checkbox" name="Yandex" id="Yandex" />
            <svg width="25" height="25"></svg>
            Yandex
          </label>
          <label for="Google Analytics">
            <input type="checkbox" name="Google Analytics" id="Google Analytics" />
            <svg width="25" height="25"></svg>
            Google Analytics
          </label>
        </div>
      </div>
      <div class="form_personalData">
        <span class="form_personalData_span">Заполните контактную информацию</span>
        <div class="form_personalData_items">
          <label for="name-lastName">
            <input
              class="form_personalData_items_inputName"
              name="name-lastName"
              type="text"
              placeholder="Имя и фамилия"
            />
          </label>
          <label for="name-lastName">
            <input
              class="form_personalData_items_inputPhone"
              name="phone-number"
              type="tel"
              placeholder="Номер телефона"
            />
          </label>
        </div>
      </div>
      <div class="form_wish">
        <span class="form_wish_span">Напишите свои пожелания</span>
        <textarea
          class="form_wish_textarea"
          placeholder="Опишите свой проект"
          name="wish"
          id="wish"
        ></textarea>
      </div>
    </form>
    <div class="learnMore">
      <a href="" class="learnMore_text">Получить обратную связь</a>
    </div>
  </section>
</div>
