<section class="section_form" id="form">
  <div class="container">
    <form class="form">
      <b class="form_header">Оставить заявку</b>
      <div class="form_checkboxs">
        <span class="form_checkboxs_span">Выберите одну или несколько услуг</span>
        <div class="form_checkboxs_items">
          <label for="Email_Marketing">
            <input type="checkbox" name="Email_Marketing" id="Email_Marketing" />
            <svg width="25" height="25"><use href="./images/symbols.svg#icon-check"></use></svg>
            Email Marketing
          </label>
          <label for="Facebook">
            <input type="checkbox" name="Facebook" id="Facebook" />
            <svg width="25" height="25"><use href="./images/symbols.svg#icon-check"></use></svg>
            Facebook
          </label>
          <label for="Google_ads">
            <input type="checkbox" name="Google_ads" id="Google_ads" />
            <svg width="25" height="25"><use href="./images/symbols.svg#icon-check"></use></svg>
            Google реклама
          </label>
          <label for="Instagram">
            <input type="checkbox" name="Instagram" id="Instagram" />
            <svg width="25" height="25"><use href="./images/symbols.svg#icon-check"></use></svg>
            Instagram
          </label>
          <label for="SEO">
            <input type="checkbox" name="SEO" id="SEO" />
            <svg width="25" height="25"><use href="./images/symbols.svg#icon-check"></use></svg>
            SEO
          </label>
          <label for="Yandex">
            <input type="checkbox" name="Yandex" id="Yandex" />
            <svg width="25" height="25"><use href="./images/symbols.svg#icon-check"></use></svg>
            Yandex
          </label>
          <label for="Google Analytics">
            <input type="checkbox" name="Google Analytics" id="Google Analytics" />
            <svg width="25" height="25"><use href="./images/symbols.svg#icon-check"></use></svg>
            Google Analytics
          </label>
        </div>
      </div>
      <div class="form_personalData">
        <span class="form_personalData_span">Заполните контактную информацию</span>
        <div class="form_personalData_items">
          <label for="name-lastName">
            <input
              id="form_inputName"
              class="form_personalData_items_inputName"
              name="name-lastName"
              type="text"
              placeholder="Имя и фамилия"
            />
          </label>
          <label for="name-lastName">
            <input
              id="form_inputPhone"
              class="form_personalData_items_inputPhone"
              name="phone-number"
              type="tel"
              placeholder="Номер телефона"
            />
          </label>
          <!-- pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" -->
        </div>
      </div>
      <div class="form_wish">
        <span class="form_wish_span">Напишите свои пожелания</span>
        <textarea
          class="form_wish_textarea"
          placeholder="Опишите свой проект"
          name="wish"
          id="form_textArea"
        ></textarea>
      </div>
      <div class="learnMore">
        <button id="form_btnSubmit" type="submit" class="learnMore_text button_form">
          Получить обратную связь
        </button>
      </div>
    </form>
  </div>
</section>
