<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <div class="learnMore">
      <p class="learnMore_text"><a href="./index.html">На главную</a></p>
    </div>
    <div data-modal-close class="modal_close"><span>Закрити</span></div>
    <header>
      <div class="container">
        <div class="wrapper_forModal">
          <h3 class="modal_header">Webils digital agency</h3>
          <ul class="list modal_list">
            <li class="modal_list_item modal_list_item-instagram">
              <a href=""
                ><svg width="48" height="48"><use href="./images/symbols.svg#instagram"></use></svg>
              </a>
            </li>
            <li class="modal_list_item modal_list_item-facebook">
              <a href="">
                <svg width="48" height="48"><use href="./images/symbols.svg#facebook"></use></svg>
              </a>
            </li>
            <li class="modal_list_item modal_list_item-linkin">
              <a href="">
                <svg width="44" height="44"><use href="./images/symbols.svg#linkin"></use></svg>
              </a>
            </li>
            <li class="modal_list_item modal_list_item-youtube">
              <a href="">
                <svg width="48" height="48"><use href="./images/symbols.svg#youtube"></use></svg>
              </a>
            </li>
          </ul>

          <nav class="modal_nav">
            <div class="modal_nav_office">
              <p class="modal_nav_text">О нас</p>
              <ul class="list modal_nav_office_list">
                <li class="modal_nav_list_item">
                  <a href="./about.html#experience">Опыт</a>
                </li>
                <li class="modal_nav_list_item">
                  <a href="./about.html#services">Услуги</a>
                </li>
                <li class="modal_nav_list_item">
                  <a href="./about.html#team">Команда</a>
                </li>
                <li class="modal_nav_list_item">
                  <a href="./about.html#compains">Компании</a>
                </li>
              </ul>
            </div>
            <div class="modal_nav_navigation">
              <p class="modal_nav_text">Навигация</p>
              <ul class="list modal_nav_office_list">
                <li class="modal_nav_list_item">
                  <a href="./about.html">О нас</a>
                </li>
                <li class="modal_nav_list_item">
                  <a href="./cases.html">Работы</a>
                </li>
                <li class="modal_nav_list_item">
                  <a href="./blog.html">Блог</a>
                </li>
              </ul>
            </div>
            <div class="modal_nav_contacts">
              <p class="modal_nav_text">Контакты</p>
              <ul class="list modal_nav_office_list">
                <li class="modal_nav_list_item">
                  <a href="./map.html#form">Оставить заявку</a>
                </li>
                <li class="modal_nav_list_item">
                  <a href="mailto:addressNameame@gmail.com">Написать на почту</a>
                </li>
                <li class="modal_nav_list_item">
                  <a href="https://www.facebook.com/" title="link to facebook"
                    >Написать на Facebook</a
                  >
                </li>
                <li class="modal_nav_list_item">
                  <a href="./map.html#map">Найти на карте</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="modal_bottomLine">
      <p class="modal_bottomLine_text">
        2021 WEBILS DIGITAL AGENCY<br />
        ВСЕ ПРАВА ЗАЩИЩЕННЫ
      </p>
      <a class="modal_bottomLine_logo" href="./index.html"
        ><img src="./images/logo2.jpg" alt=""
      /></a>
      <div class="learnMore">
        <p class="learnMore_text">
          <a href="./CV_Pobidynskyi.R.pdf" download="CV_Pobidynskyi_R.">Скачать презентацию</a>
        </p>
        <!-- <a href=".index.html" download="proposed_file_name">Download</a> svsv-->
      </div>
    </div>
  </div>
</div>
