<div data-modal class="backdrop is-hidden">
  <div class="modal footer">
    <div class="learnMore">
      <p class="learnMore_text"><a href="./index.html">На главную</a></p>
    </div>
    <div data-modal-close class="modal_close"><span>Закрити</span></div>
    <div class="container">
      <div class="wrapper_forFooter">
        <h3 class="footer_header">Webils digital agency</h3>
        <ul class="list footer_list">
          <li class="footer_list_item">
            <a href=""
              ><svg width="48" height="48"><use href="./images/symbols.svg#instagram"></use></svg>
            </a>
          </li>
          <li class="footer_list_item">
            <a href="">
              <svg width="48" height="48"><use href="./images/symbols.svg#facebook"></use></svg>
            </a>
          </li>
          <li class="footer_list_item">
            <a href="">
              <svg width="44" height="44"><use href="./images/symbols.svg#linkin"></use></svg>
            </a>
          </li>
          <li class="footer_list_item">
            <a href="">
              <svg width="48" height="48"><use href="./images/symbols.svg#youtube"></use></svg>
            </a>
          </li>
        </ul>

        <nav class="footer_nav">
          <div class="footer_nav_office">
            <p class="footer_nav_text">Офис</p>
            <ul class="list footer_nav_office_list">
              <li class="footer_nav_list_item">
                Алматы <br />
                Аль-Фараби 21/7
              </li>
            </ul>
          </div>
          <div class="footer_nav_socials">
            <p class="footer_nav_text">Соц.сети</p>
            <ul class="list footer_nav_office_list">
              <li class="footer_nav_list_item"><a href="">Инстаграм</a></li>
              <li class="footer_nav_list_item"><a href="">Facebook</a></li>
              <li class="footer_nav_list_item"><a href="">Linkedin</a></li>
              <li class="footer_nav_list_item"><a href="">You Tube</a></li>
            </ul>
          </div>
          <div class="footer_nav_navigation">
            <p class="footer_nav_text">Навигация</p>
            <ul class="list footer_nav_office_list">
              <li class="footer_nav_list_item"><a href="./about.html">О нас</a></li>
              <li class="footer_nav_list_item"><a href="./cases.html">Работы</a></li>
              <li class="footer_nav_list_item"><a href="./blog.html">Блог</a></li>
            </ul>
          </div>
          <div class="footer_nav_contacts">
            <p class="footer_nav_text">Контакты</p>
            <ul class="list footer_nav_office_list">
              <li class="footer_nav_list_item"><a href="">Оставить заявку</a></li>
              <li class="footer_nav_list_item"><a href="">Написать на почту</a></li>
              <li class="footer_nav_list_item"><a href="">Написать на Facebook</a></li>
              <li class="footer_nav_list_item"><a href="">Найти на карте</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="footer_bottomLine">
      <p class="footer_bottomLine_text">
        2021 WEBILS DIGITAL AGENCY<br />
        ВСЕ ПРАВА ЗАЩИЩЕННЫ
      </p>
      <a class="footer_bottomLine_logo" href=""><img src="./images/logo2.jpg" alt="" /></a>
      <div class="learnMore">
        <p class="learnMore_text"><a href="">Скачать презентацию</a></p>
      </div>
    </div>
  </div>
</div>
