<div class="overlay_topLine">
  <svg width="52" height="52" class="overlay_topLine_moon">
    <use href="./images/symbols.svg#moon"></use>
  </svg>
  <a class="overlay_topLine_text" href="./map.html#form">Работать с нами</a>
  <a class="link overlay_topLine_logo" href="./index.html">Webils</a>
  <button class="overlay_topLine_button buttonJS" type="button">
    <svg width="63" height="44" class="overlay_topLine_buttonMenu">
      <use href="./images/symbols.svg#buttonMenu"></use>
    </svg>
  </button>
</div>
<div class="overlay_socials">
  <a class="link overlay_socials_item" href=""
    ><svg class="overlay_socials_item_youtube" width="24" height="24">
      <use href="./images/symbols.svg#youtube"></use>
    </svg>
  </a>
  <a class="link overlay_socials_item" href=""
    ><svg class="overlay_socials_item_facebook" width="24" height="24">
      <use href="./images/symbols.svg#facebook"></use>
    </svg>
  </a>
  <a class="link overlay_socials_item" href=""
    ><svg class="overlay_socials_item_instagram" width="24" height="24">
      <use href="./images/symbols.svg#instagram"></use>
    </svg>
  </a>
</div>
<p class="overlay_text">DIGITAL MARKETING AGENCY</p>
