<div class="container">
  <section class="blogHead">
    <h2 class="blogHead_header">Блог</h2>
    <div class="blogHead_divForText_heshtag"><a href="">#реклама</a> <a href="">#маркетинг</a></div>
    <span class="blogHead_data">10.02.2020</span>
    <div class="wrapper_forblogHead">
      <div class="blogHead_divForText">
        <h3 class="blogHead_headerTwo">Реклама в YouTube или YouTube marketing</h3>
        <p class="blogHead_text">
          1/3 общего времени в Интернете тратится на просмотр видео, а у YouTube более миллиарда
          активных пользователей.<br />
          Платформа настолько обширна, что к ней можно получить доступ на 76 различных языках, что
          составляет 95% населения мира.<br />
          2-я по величине поисковая система в Интернете - YouTube может помочь улучшить ваше SEO и
          общее присутствие бренда...
        </p>
      </div>
      <div class="blogHead_divForImg">
        <img class="blogHead_img-№1" src="./images/oneMan.jpg" alt="" />
        <img class="blogHead_img-№2" src="./images/men.jpg" alt="" />
        <div class="learnMore">
          <a href="./blog.html" class="learnMore_text">Узнать больше</a>
        </div>
      </div>
    </div>
  </section>
</div>
