<div class="container">
  <section class="recentCases">
    <div class="wrapper_forRecentCases">
      <div class="recentCases_difForText">
        <h2 class="recentCases_header">Последние кейсы</h2>
        <div class="slaider">
          <h3 class="slaider_header">NAK</h3>
          <p class="slaider_text">Подготовка рекламных кампании, интеграция CRM</p>
          <button class="slaider_button slaider_button-left" type="button">
            <svg class="slaider_svg" width="35" height="35">
              <use href="./images/symbols.svg#arrowDown"></use>
            </svg>
          </button>
          <button class="slaider_button slaider_button-right" type="button">
            <svg class="slaider_svg" width="35" height="35">
              <use href="./images/symbols.svg#arrowDown"></use>
            </svg>
          </button>
        </div>
        <div class="learnMore">
          <p class="learnMore_text">Узнать больше</p>
        </div>
      </div>
      <div class="recentCases_divForImg">
        <img src="./images/earleBlack.jpg" alt="" />
      </div>
    </div>
  </section>
</div>
