<div class="smallModal hidden">
  <div class="smallModal_wrapperForImg">
    <img class="smallModal_img" src="./images/insta-color.svg" alt="" />
    <p class="smallModal_text">Бесплатная настройка Instagram рекламы</p>
  </div>
  <form class="smallModal_form">
    <input
      class="smallModal_form_input"
      type="email"
      name="smallModal_form_input"
      value=""
      id=""
      placeholder="e-mail"
    />
    <button class="smallModal_form_button" type="submit">Заказать</button>
  </form>
  <!-- <button class="smallModal_btnClosed" type="button"></button> -->
  <button class="smallModal_btnClosed" type="button">
    <svg width="35" height="35"><use href="./images/symbols.svg#cross"></use></svg>
  </button>
</div>
