<section class="whoWe">
  <div class="container">
    <div class="whoWe_divForTextOne">
      <h2 class="whoWe_headerOne">Кто мы</h2>
      <p class="whoWe_textOne">
        Мы не продаем инструменты Digital рекламы. Мы помогаем вам инвестировать в Digital
        инструменты, для получения максимальной прибыли.
      </p>
    </div>
    <div class="whoWe_divForTextTwo">
      <h2 class="whoWe_headerTwo">Сквозная аналитика</h2>
      <p class="whoWe_textTwo">
        Мы предоставляем подробную аналитику пути ваших клиентов в Digital, в режиме онлайн от этапа
        взаимодействия с рекламой до заключения сделки. Все оптимизации нацелены только на повышение
        конверсий KPI.
      </p>
    </div>
    <div class="learnMore">
      <p class="learnMore_text">Узнать больше</p>
    </div>
  </div>
</section>
